:host{
    width: 100%;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-color: #222831; 
    color: white;
    overflow-y: auto; 
}

.container{
    width: 100vw;
    height: 88vh;
    overflow-x: hidden;
    background-color: #1e1e1f;
}

#player-header {
    width: 100vw;
    height: 12%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1e24;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 200 !important;
}

#main{
    width: 100%;
    height: 88%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-song-section{
    width: 70%;
    height: 100%;
}
#queue-section {
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

#queue-section app-playlist{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;

    font-size: 12px;
}