.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.track-cover img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.track-info {
  text-align: center;
  color: white;
}

.track-info h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.track-info h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: #aaa;
}