<div class="search-bar-container" #searchBarContainer>
    <div class="search-input-group">
        <input type="text" 
               [formControl]="searchControl" 
               id="search-bar" 
               placeholder="¿Qué quieres reproducir?" (keyup.enter)="doFullSearch()"
               (focus)="onFocus()">
        
        <span id="search-icon" (click)="doFullSearch()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>

    @if (isSuggestionsOpen) {
        <div id="suggestions-overlay">
            <div class="search-results-container is-overlay">
                <h1>Sugerencias de Búsqueda</h1> 
                
                @if (_playerState.searchResults$ | async; as results) { 
                    <div class="results-list">
                        
                        @for(album of results.albums?.items; track album.id){
                            <div class="list-item" (click)="onSelectSuggestion(album.id)">
                                <img [src]="album.images.at(0)?.url" alt="Cover" class="list-cover"> 
                                <div class="list-details">
                                    <p class="list-title">{{album.name}}</p>
                                    <p class="list-artist">{{album.artists.at(0)?.name}}</p>
                                </div>
                                <span class="type-label album-label">ÁLBUM</span>
                            </div>
                        }

                        @for(track of results.tracks?.items; track track.id){
                            <div class="list-item" (click)="onSelectSuggestion(track.album?.id)">
                                <img [src]="track.album?.images.at(0)?.url" alt="Cover" class="list-cover">
                                <div class="list-details">
                                    <p class="list-title">{{track.name}}</p>
                                    <p class="list-artist">{{track.artists.at(0)?.name}}</p>
                                </div>
                                <span class="type-label track-label">CANCIÓN</span>
                            </div>
                        }
                    </div>
                } @else {
                    <p class="no-results">No hay sugerencias recientes</p>
                }
            </div>
        </div>
    }
</div>